<form
  class="relative z-10 flex flex-col gap-3 rounded-md w-full bg-white pt-[50px] px-5"
  [formGroup]="petForm"
  (ngSubmit)="handleSubmit()"
>
  <input
    type="text"
    placeholder="Pet Name"
    name="name"
    formControlName="name"
    class="border border-black px-3 py-2 rounded-md w-full"
  />
  <input
    type="text"
    placeholder="Pet Type"
    name="type"
    formControlName="type"
    class="border border-black px-3 py-2 rounded-md w-full"
  />
  <input
    type="text"
    placeholder="Pet Image Link"
    name="image"
    formControlName="image"
    class="border border-black px-3 py-2 rounded-md w-full"
  />

  <div class="flex justify-end">
    <button
      type="submit"
      class="w-[70px] border border-black rounded-md hover:bg-green-400"
    >
      Submit
    </button>
  </div>
</form>
